
/*Main styles*/

body{
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 99vh;
  margin: 0;
}

footer{
  position: fixed;
  bottom: 0;
  padding-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

footer a { color: hsl(228, 45%, 44%); }

/*Card styles styles*/

h1{
  font-size: 20px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}
p{
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: hsl(216, 15%, 48%);
}

.card-container{  
  width: 288px;
  max-width: 288px;
  padding: 16px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.text-container{
  padding: 0 16px 0 16px;
}

.rounded{
  border-radius: 10px;
}

.bold{
  font-weight: 700;
}